<div class="row">
  <div class="large-6 columns">
    <%= @post.title %><br>
    <%= content_tag(:iframe, '', width: '100%', height: '600', src: @post.embed) %>

    <div style="height: 500px;"></div>
  </div>
</div>
