<div class="row">
  <div class="large-12 columns text-center" style="padding: 10px 0;">
    <div class="categoryTitle">
      <%= @category.title %><br>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <%= render('posts/posts') %>
  </div>
</div>
